<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <!--link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')-->
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>VPL</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/icons/site.webmanifest">
    <link rel="mask-icon" href="assets/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div id="navbarProduct">
      <div class="wrapper pt-3 pb-2">
        <nav class="navbar navbar-expand navbar-light px-0">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand d-block d-md-none" href="/"><img src="assets/images/logo-base.svg" alt="Logo" width="43" height="34"></a>
          <div class="collapse navbar-collapse align-items-end" id="navbarCollapse"><a class="navbar-brand d-none d-md-block flex-grow-0" href="/"><img src="assets/images/logo.svg" alt="Logo" width="50" height="70"/></a>
            <div class="d-flex align-items-center mb-1 justify-content-between pl-5 pl-md-8 pb-md-2 pb-lg-0">
              <div class="navbar-nav">
                <ul class="catalog-breadcrumbs">
                  <li><a href="#">Produkte:</a></li>
                  <li><a href="#">Türen:</a></li>
                  <li><a href="#">PVC-Tür:</a></li>
                  <li>PVC-Eingangstüren</li>
                </ul>
              </div>
              <div class="d-none d-lg-block">
                <div class="navbar-nav pl-md-10 font-weight-bold flex-shrink-1 d-flex justify-content-lg-end"><a class="navbar-item nav-link" href="#">Partner</a><a class="navbar-item nav-link" href="#">Kontakt</a><a class="navbar-item nav-link py-0 d-flex align-items-center" href="#"><img src="assets/images/logo-fb.svg" width="24" height="24"></a></div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="px-0">
      <div class="carousel carousel-product slide" id="carouselTuren" data-ride="carousel_disabled" data-interval="0" style="background-color: #c9eeff;">
        <div class="wrapper d-flex justify-content-between"><a class="carousel-control-prev" href="#carouselTuren" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="d-flex flex-column flex-md-row align-items-center h-100">
                <div class="switch">
                  <div class="h1">PVC-Eingangstüren</div>
                  <div class="product-tabs">
                    <div class="product-tab active">
                      <div class="description">
                        <p>Bei der Herstellung von Eingangstüren setzten wir PVC-Profile anerkannter Hersteller ein. Auf diese Art und Weise sind wir in der Lage, unseren Kunden die besten thermischen Eigenschaften und energieeffiziente Fenster sowie alle Vorteile eines verglasten Eingangs anbieten zu können.</p>
                        <p>Die PVC-Eingangstüren fertigen wir in Anlehnung an die populärsten Fenster- und Türsysteme aus unserem Angebot an. Darunter finden Sie sowohl günstige Basismodelle als auch effiziente Modelle der Premium-Klasse. Die Werkstoffe, aus denen die PVC-Türen hergestellt werden, werden mit modernsten Produktionstechnologien verarbeitet und ihre Komponenten stammen von anerkannten Herstellern.</p>
                      </div>
                    </div>
                    <div class="product-tab">
                      <ul class="thumbs">
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/01.png" alt="01"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/02.png" alt="02"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/03.png" alt="03"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/04.png" alt="04"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/05.png" alt="05"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/06.png" alt="06"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/07.png" alt="07"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/08.png" alt="08"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/09.png" alt="09"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/10.png" alt="10"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/11.png" alt="11"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/12.png" alt="12"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/13.png" alt="13"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/14.png" alt="14"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/15.png" alt="15"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/16.png" alt="16"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/17.png" alt="17"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/18.png" alt="18"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/19.png" alt="19"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/20.png" alt="20"></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="viewport">
                  <div class="covers"><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/01.png" alt="cover1"></div>
                  <div class="viewport-placeholder"><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/01.png" alt="viewport-placeholder"></div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex flex-column flex-md-row h-100 align-items-center">
                <div class="switch">
                  <div class="h1">Another product</div>
                  <div class="product-tabs">
                    <div class="product-tab active">
                      <div class="description">
                        <p>Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий требуют определения и уточнения форм развития. Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа модели развития. Равным образом начало повседневной работы по формированию позиции способствует подготовки и реализации существенных финансовых и административных условий. Разнообразный и богатый опыт консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>
                        <p>Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности способствует подготовки и реализации форм развития. Не следует, однако забывать, что консультация с широким активом позволяет выполнять важные задания по разработке модели развития. Идейные соображения высшего порядка, а также консультация с широким активом играет важную роль в формировании новых предложений. Не следует, однако забывать, что новая модель организационной деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании новых предложений.</p>
                      </div>
                    </div>
                    <div class="product-tab">
                      <ul class="thumbs">
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/01.png" alt="01"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/02.png" alt="02"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/03.png" alt="03"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/04.png" alt="04"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/05.png" alt="05"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/06.png" alt="06"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/07.png" alt="07"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/08.png" alt="08"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/09.png" alt="09"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/10.png" alt="10"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/11.png" alt="11"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/12.png" alt="12"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/13.png" alt="13"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/14.png" alt="14"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/15.png" alt="15"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/16.png" alt="16"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/17.png" alt="17"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/18.png" alt="18"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/19.png" alt="19"></li>
                        <li><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/20.png" alt="20"></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="viewport">
                  <div class="covers"><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/01.png" alt="cover1"></div>
                  <div class="viewport-placeholder"><img src="assets/images/catalog/turen/pvc-tur/pvc-eingangsturen/model/01.png" alt="viewport-placeholder"></div>
                </div>
              </div>
            </div>
            <ol class="product-tab-switcher justify-content-center justify-content-md-start">
              <li class="active">Beschreibung</li>
              <li>Model</li>
              <li>Farbe</li>
              <li>Glas</li>
              <li>Griff</li>
            </ol>
          </div><a class="carousel-control-next" href="#carouselTuren" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
        </div>
      </div>
      <div class="bg-light" id="callbackFront">
        <div class="py-5" id="callbackForm">
          <div class="container-fluid">
            <div class="row">
              <div class="col col-md-10 col-lg-6 mx-auto">
                <form>
                  <div class="row mb-4">
                    <div class="col-10 col-md-8 col-lg-6">
                      <h3>Schreiben Sie uns und wir rufen Sie schnellstmöglich zurück:</h3>
                    </div>
                    <div class="col-2 ml-auto text-right">
                      <div class="link-close">&times;</div>
                    </div>
                  </div>
                  <div class="row mb-4">
                    <div class="col"><span class="mr-4">Andere:</span>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" id="andere1" type="radio" name="andere" value="herr">
                        <label class="custom-control-label" for="andere1">Herr</label>
                      </div><span class="px-2"></span>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input class="custom-control-input" id="andere2" type="radio" name="andere" value="frau">
                        <label class="custom-control-label" for="andere2">Frau</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Vorname" name="vorname">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Nachname" name="nachname">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="+88 (888) 88-88-88" name="phone">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Gewünschte Rückrufzeit" name="gewunschte-ruckrufzeit">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Ihre frage" name="ihre-frage"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <button class="btn w-100 text-left" type="submit">Absenden</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper mt-5 my-mt-10">
      <ul class="nav nav-tabs" id="productDetailsTab" role="tablist">
        <li class="nav-item"><a class="nav-link active" id="tab-specification" data-toggle="tab" href="#specification" role="tab" aria-controls="specification" aria-selected="true">Spezifikation</a></li>
        <li class="nav-item"><a class="nav-link" id="tab-coloring" data-toggle="tab" href="#coloring" role="tab" aria-controls="coloring" aria-selected="false">Farbgebung</a></li>
        <li class="nav-item"><a class="nav-link" id="tab-technology" data-toggle="tab" href="#technology" role="tab" aria-controls="technology" aria-selected="false">Technologie</a></li>
      </ul>
      <div class="tab-content" id="productDetailsTabContent">
        <div class="tab-pane fade show active" id="specification" role="tabpanel" aria-labelledby="specification-tab">
          <p><b>Erhältlich sind folgende PVC-Eingangstürsysteme:</b></p>
          <ul>
            <li>Aluplast: Ideal 4000, Ideal 5000, Ideal 8000</li>
            <li>Salamander: Streamline 76, BluEvolution 92</li>
            <li>Eko Sun 70</li>
          </ul>
          <p><b>Erhältliche Ausführungen:</b></p>
          <ol>
            <li>System mit Aluminiumschwelle und thermischem Trennelement</li>
            <li>Schwellenfreies System mit absenkender Dichtung</li>
            <li>Zusätzliche Abdichtungsbürste im unteren Flügelteil</li>
          </ol>
          <p>Alle Ausführungen sind standardmäßig mit einer (mit Schlüssel verschließbar) Dreipunktverriegelung ausgerüstet. Optional ist eine Montage zusätzlicher Aushebelungsschutzbolzen möglich.</p>
        </div>
        <div class="tab-pane fade" id="coloring" role="tabpanel" aria-labelledby="coloring-tab">
          <p>Coloring details go here</p>
        </div>
        <div class="tab-pane fade" id="technology" role="tabpanel" aria-labelledby="technology-tab">
          <p>Technology description here</p>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <footer>
        <div class="d-flex"><img class="mr-4" src="assets/images/logo-base.svg" alt="Logo" width="43" height="34">
          <div class="w-100">
            <hr class="w-100 bg-dark mb-5">
            <nav>
              <div class="row">
                <div class="col-12 col-md-5 col-lg-4">
                  <p class="mt-2 mb-4"><b>© 2018. VPL GmbH</b></p>
                  <p class="mb-1"><a class="underlined" href="mailto:vpl-corporation@vpl-bau.de">vpl-corporation@vpl-bau.de</a></p>
                  <p class="mb-0">+88 91 734 7213</p><a class="btn btn-link link-callback pl-0 py-1 font-weight-bold underlined" href="#callbackForm">Заказать обратный звонок</a>
                  <p><b><a href="#">Partner</a></b><span class="mx-4">|</span><b><a href="#">Facebook</a></b></p>
                </div>
                <div class="col-12 col-md-7 col-lg-4">
                  <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="#">Design</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Fenster</a>
                      <ul class="nav nav-submenu">
                        <li class="nav-item"><a class="nav-link" href="#">PVC-Fenster</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Aluminium-Fenster</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Holzfenster</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Fensterläden</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Zubehör Fenster</a></li>
                      </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Türen</a>
                      <ul class="nav nav-submenu">
                        <li class="nav-item"><a class="nav-link" href="#">PCV-Tür</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Aluminium-Tür</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Holztür</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Zubehör zur Tür</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-7 offset-md-5 col-lg-4 offset-lg-0">
                  <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="#">Schiebefenster</a>
                      <ul class="nav nav-submenu">
                      </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Rollläden</a>
                      <ul class="nav nav-submenu">
                        <li class="nav-item"><a class="nav-link" href="#">Einstellbare Rollläden</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Aufsatzrollläden</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Unterputzrollläden</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Screen</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Die Fassadenjalousien</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Rollläden Zubehör</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </footer>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="assets/js/tinycolor-min.js"></script>
    <script src="assets/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
      let products = [
      	{
      		textBlocks: {
      			specification: `
      				**Erhältlich sind folgende PVC-Eingangstürsysteme:**
      
      				*	Aluplast: Ideal 4000, Ideal 5000, Ideal 8000
      				*	Salamander: Streamline 76, BluEvolution 92
      				*	Eko Sun 70
      
      				**Erhältliche Ausführungen:**
      				
      				1. System mit Aluminiumschwelle und thermischem Trennelement
      				2. Schwellenfreies System mit absenkender Dichtung
      				3. Zusätzliche Abdichtungsbürste im unteren Flügelteil
      
      				Alle Ausführungen sind standardmäßig mit einer (mit Schlüssel verschließbar) Dreipunktverriegelung ausgerüstet. Optional ist eine Montage zusätzlicher Aushebelungsschutzbolzen möglich.
      			`,
      			coloring: `
      				This product features perfect combination of colors pleasant to the eye and easy to maintain.
      
      				**Remember the three rules:***
      				1.	White color is bright
      				1.	Use door to protect the entrance
      				1.	Always lock the door to ensure safety
      			`,
      			technology: `
      				Try our new patented technology of the durable doors.
      
      				We use only **certified** quality materials.
      			`
      		},
      	},				
      	{
      		textBlocks: {
      			specification: `
      				This door is ***awesome***.
      
      				**Especially if you use Markdown to structure the description**.
      
      				Look at this:
      
      				*	Clean design
      				*	Easy-managable
      				*	Self-explanatory
      
      			`,
      			coloring: `
      				We use clear palette for all our products, only monitor colors: **red, green, yellow.**
      			`,
      			technology: `
      				XXI century construction materials. Reliable. Fancy.
      			`
      		},
      	},	
      ]
    </script>
  </body>
</html>